<nav class="fixed-bottom">

    <ul class="mx-4">
        <li>
            <a class="pe-none" href=""><i class="fa-solid fa-copyright fs-6"></i></a>
        </li>
        <li class="copyright">COPYRIGHT 2025 | TODOS LOS DERECHOS RESERVADOS | 
            <a href=""> POLITICA DE PRIVACIDAD | </a>
            <a href="">AVISO LEGAL | </a>
            <a href="">POLITICA DE COOKIES</a>
        </li>
        

    </ul>

    <ul class="d-flex flex-row-reverse mx-4 grid gap-3 iconos">

        <li>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
        </li>
        <li>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        </li>
        <li>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </li>

    </ul>

</nav>
