nav,
ul {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: var(--verde-hoja);
    align-items: center;
    color: var(--beige-claro);


    i {
        color: var(--beige-claro);
        font-size: 150%;
    }

    a {
        text-decoration: none;
        color: var(--beige-claro);
    }
}

.copyright a:hover {
    color: var(--verde-bosque);
    background-color: var(--arena);
}

.iconos i {
    width: 40px;
    height: auto;
    text-align: center;
    transition: 0.3s;

    &:hover {
        font-size: 180%;
    }
}