.bg-image {
    background-image: url(../../assets/images/bg-home.webp);
    background-size: cover;

}

h2 {
    text-align: center;
    font-size: 50px;
    padding-top: 120px;
    font-weight: bold;
    color: var(--verde-bosque);
}

.subtitulo {
    text-align: center;
    font-size: 18px;
    margin: 30px;
    color: var(--marron-tierra);
}

section {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

article {
    border: 20px solid;
    border-image: url('../../assets/images/marco-madera.webp')30;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-5px);
    }
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.contenido {
    padding: 25px;

    h3 {
        font-size: 25px;
        margin-bottom: 10px;
        color: var(--marron-tierra);
    }

    .categoria {
        color: var(--gris-roca);
        font-style: italic;
        margin-bottom: 15px;
    }

    .texto {
        font-size: 18;
        line-height: 1.7;
        color: #333;
        margin-bottom: 20px;
    }

    .info {
        color: var(--verde-bosque);
        font-weight: bold;

        &:hover {
            color: var(--amarillo-sol);
        }
    }
}