
<div class="bg-image">
    <div>
        <h2>Todos nuestros posts</h2>
        <p class="subtitulo">Descubre que vivieron nuestros seguidores</p>
    </div>

    <section>
      <div class="row g-4">
        @for (post of arrPosts; track post.id) {
          <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
            <article>
              <img [src]="post.imagen" />
              <div class="contenido">
                <h3>{{ post.titulo }}</h3>
                <p class="categoria">{{ post.categoria }} | {{ post.fecha_aventura }}</p>
                <p class="texto">{{ post.texto.slice(0, 200) }}...</p>
                <a class="info" [routerLink]="['/post', post.id]">Leer más</a>
              </div>
            </article>
          </div>
        }
      </div>
    </section>

</div>
  
