.bg-image {
    background-image: url(../../assets/images/bg-home.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1.5rem;
}

article {
    border: 0.625rem solid;
    border-image: url('../../assets/images/marco-madera.webp')30;
    background-color: rgba(255, 255, 255, 0.466);
    transition: 1s;

    &:hover {
        border-radius: 0 6.25rem;
        background-color: rgba(255, 255, 255, 0.685);
    }
}

img {
    width: 100%;
    height: 18.75rem;
}

.contenido {
    padding: 0 1.25rem;

    &:hover {
        .info {
            color: var(--verde-hoja);
            cursor: pointer;
        }
    }

    h3 {
        min-height: 3.125rem;
        align-content: center;
        font-size: 1.5625rem;
        margin: 0.625rem 0;
        color: var(--marron-tierra);
        text-align: end;
    }

    .categoria {
        text-align: end;
        color: var(--gris-roca);
        font-style: italic;
        margin-bottom: 0.9375rem;
        align-content: center;
    }

    .texto {
        line-height: 1.2;
        text-align: justify;
        min-height: 6.25rem;
    }

    .info {
        color: var(--verde-bosque);
        font-weight: bold;
        display: inline-block;
        margin: 1.25rem 0;

        &:hover {
            color: var(--verde-claro);
        }
    }
}