/* Variables colores */
:root {
    --verde-bosque: #2f5233;
    --verde-hoja: hsl(138, 25%, 39%);
    --verde-claro: #a3b18a;

    --marron-tierra: #5e3023;
    --arena: #d9bf77;
    --beige-claro: #f5f3e7;

    --amarillo-sol: #f2c14e;
    --gris-roca: #6b705c;

}