<div class="bg-image">
  @if (post) {
    <article class="container">
      <h3 class="animate__animated animate__fadeInDown">{{ post.titulo }}</h3>
      <div class="info">
        <figure>
          <img class=" animate__animated animate__bounceInLeft" [src]="post.imagen" />
          <div class="d-flex justify-content-around animate__animated animate__flipInX">
            <p class="categoria">{{ post.categoria }}</p>
            <p class="fecha"> {{ post.fecha_aventura }}</p>
          </div>
          <nav>
            <a [routerLink]="['/home']">Volver</a>
            <a [routerLink]="['/update', post.id]">Editar</a>
            <a class="delete" (click)="delete()">Eliminar</a>
          </nav>
        </figure>
        <div class="contenido">
          <p class="texto animate__animated animate__bounceInRight">{{ post.texto }}</p>
        </div>
      </div>
    </article>
}
</div>











