
<div class="bg-image">
    <div class="text-center">
        <div class="intro">
            <h2 class="mb-3">¡Comparte tu aventura con nosotros!</h2>
            <h4 class="mb-2">Aquí tienes tu espacio para contarnos esa historia inolvidable.</h4>
            <p class="mb-4">
              Cuéntanos sobre tu último viaje, ese rincón escondido que descubriste <br> o esa escapada de fin de semana que todavía recuerdas con una sonrisa.
            </p>
            <hr class="container">
        </div>
          
        
        <form class="m-auto">
            <div class="mb-3">
                <label class="form-label mb-3">¿Cómo llamamos a esta aventura?</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Esto fue lo que pasó</label>
                <textarea class="form-control" rows="6" placeholder="Cuéntanos tu historia..."></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">¿Nos muestras fotos?</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">¿Dónde sucede esta aventura?</label>
                <select class="form-control">
                    <option>Elige una opción</option>
                    <option>Playa</option>
                    <option>Montaña</option>
                    <option>Ciudad</option>
                    <option>Festival</option>
                    <option>Rural</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Fecha de la aventura</label>
                <input type="date" class="form-control">
            </div>
            <input type="submit" value="POST">
        </form>
        
    </div>
    
</div>
