.bg-image {
    background-image: url(../../assets/images/bg-form.webp);
    background-size: cover;
    background-position: center;


    form {
        padding: 0 50px;


        p {
            color: rgb(255, 77, 45);
        }

    }

    h2 {
        font-size: 30px;
        font-weight: bold;
    }

    h4 {
        font-weight: bold;
        color: var(--marron-tierra);
    }

    p {
        color: var(--verde-bosque);
    }
}

.form-control {
    background-color: rgba(255, 255, 255, 0.616);
    border: none;
}

.form-label {
    margin-bottom: 15px;
}

.page {
    max-width: 700px;
    margin: 80px auto;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    padding: 25px;
    margin: 0 auto;
}

.post {
    padding: 10px 20px;
    background-color: var(--verde-bosque);
    border-radius: 10px;
    color: var(--amarillo-sol);
    transition: 0.5s;
    font-weight: bold;

}

.error {
    min-height: 1.2rem;
    margin: 5px 0;
    color: rgb(255, 77, 45);
    font-size: 0.9em;

}