
<div class="bg-image">
    <div class="text-center page">
        <div class="intro">
            <h2 class="mb-3">¡Queremos todos los detalles!</h2>
            <h4 class="mb-2">Aquí tienes tu espacio para contarnos esa historia inolvidable.</h4>
            <p class="mb-4">
              Cuéntanos sobre tu último viaje, ese rincón escondido que descubriste <br> o esa escapada de fin de semana que todavía recuerdas con una sonrisa.
            </p>
            <hr class="container">
        </div>
          
        
        <form class="m-auto" [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="mb-1">
                <label class="form-label mb-3">¿Cómo llamamos a esta aventura?</label>
                <input type="text" class="form-control" formControlName="titulo">
                <div class="error">
                    @if (checkError('titulo', 'required')) {
                      <p>Debes ponerle un título a tu historia</p>
                    }
                </div>
            </div>
            <div class="mb-1">
                <label class="form-label">Esto fue lo que pasó</label>
                <textarea class="form-control" rows="6" placeholder="Cuéntanos tu historia..." formControlName="texto"></textarea>
                <div class="error">
                    @if (formulario.get('texto')?.touched && formulario.get('texto')?.errors?.['required']) {
                      <p>¡Venga! Cuéntanos tu historia</p>
                    } @else if (formulario.get('texto')?.touched && formulario.get('texto')?.errors?.['minlength']) {
                      <p>Tu historia es muy corta... ¡Queremos al menos 50 caracteres!</p>
                    }
                </div>
            </div>
            <div class="mb-1">
                <label class="form-label">¿Nos muestras fotos?</label>
                <input type="text" class="form-control" formControlName="imagen">
                <div class="error">
                    @if (formulario.get('imagen')?.touched && formulario.get('imagen')?.errors?.['required']) {
                      <p>Nos encantaría ver esas maravillosas vistas</p>
                    } @else if (formulario.get('imagen')?.touched && formulario.get('imagen')?.errors?.['pattern']) {
                      <p>Introduce una URL válida (ej: https://...jpg)</p>
                    }
                  </div>
            </div>
            <div class="mb-1">
                <label class="form-label">¿Dónde sucede esta aventura?</label>
                <select class="form-control" formControlName="categoria">
                    <option>Elige una opción</option>
                    <option>Playa</option>
                    <option>Montaña</option>
                    <option>Ciudad</option>
                    <option>Festival</option>
                    <option>Rural</option>
                </select>
                <div class="error">
                    @if (formulario.get('categoria')?.touched && formulario.get('categoria')?.invalid) {
                      <p>¡Cuéntanos donde fue!</p>
                    }
                  </div>
            </div>
            <div class="mb-1">
                <label class="form-label">Fecha de la aventura</label>
                <input type="date" class="form-control" formControlName="fecha_aventura">
                <div class="error">
                    @if (formulario.get('fecha_aventura')?.touched && formulario.get('fecha_aventura')?.invalid) {
                      <p>Nos gustaría saber la fecha de tu aventura</p>
                    }
                </div>
            </div>
            <input type="submit" value="POST" class="post">
        </form>
        
    </div>
    
</div>
