.bg-image {
    background-image: url(../../assets/images/bg-form.webp);
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 7.375rem);


    form {
        padding: 0 3.125rem;


        p {
            color: rgb(255, 77, 45);
        }

    }

    h2 {
        font-size: 1.875rem;
        font-weight: bold;
    }

    h4 {
        font-weight: bold;
        color: var(--marron-tierra);
    }

    p {
        color: var(--verde-bosque);
    }
}

.form-control {
    background-color: rgba(255, 255, 255, 0.616);
    border: none;
}

.form-label {
    margin-bottom: 0.9375rem;
}

.page {
    max-width: 43.75rem;
    margin: 5rem auto;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(0.9375rem);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
    padding: 1.5625rem;
    margin: 0 auto;

}

.post {
    padding: 0.625rem 1.25rem;
    background-color: var(--verde-bosque);
    border-radius: 0.625rem;
    color: var(--amarillo-sol);
    transition: 0.5s;
    font-weight: bold;

}

.error {
    min-height: 1.2rem;
    margin: 0.3125rem 0;
    color: rgb(255, 77, 45);
    font-size: 0.9em;

}

input:disabled {
    background-color: var(--gris-roca);
    color: var(--verde-claro)
}