<div class="bg-image">
  <section class="filtros">
    <div class="categorias">
        @for (categoria of categorias; track categoria) {
        <button class="boton" (click)="filtrarPorCategoria(categoria)">
            {{ categoria }}
        </button>
        }
    </div>
    
    <div class="titulo">
        <button class="boton w-25" (click)="ordenarPorTitulo()">
        Ordenar por título {{ ordenAscendente ? 'A-Z' : 'Z-A' }}
      </button>
    </div>

  <div class="posts-container">
    @for (post of postsFiltrados; track post.id) {
        <article class="container">
            <h3>{{ post.titulo }}</h3>
            <div class="info">
              <figure>
                <img [src]="post.imagen" />
                <div class="d-flex justify-content-around">
                  <p class="categoria">{{ post.categoria }}</p>
                  <p class="fecha"> {{ post.fecha_aventura }}</p>
                </div>
              </figure>
              <div class="contenido">
                <p>{{ post.texto.slice(0, 100)}}...</p>
                <a class="boton" [routerLink]="['/post', post.id]">~Ir al blog~</a>
              </div>
            </div>
          </article>
    }
    </div>
</section>
</div>


  
  