a {
    text-decoration: none;
}

nav {
    font-weight: bold;

    i {
        font-size: 125%;
    }

    ul {
        background-color: var(--verde-bosque);
        color: var(--beige-claro);

        h1 {
            align-content: center;
        }

        li a {
            display: inline-block;
            width: 120px;
            height: 80px;
            background-color: var(--amarillo-sol);
            border-radius: 50%;
            text-align: center;
            align-content: center;
            margin: 10px;
            color: var(--verde-bosque);

        }
    }

}