a {
    cursor: pointer;
}

nav {
    background-image: url(../../assets/images/marco-madera.webp);
    align-content: center;
    font-weight: bold;
    border-bottom: 0.1875rem solid var(--arena);
    color: var(--beige-claro);
    height: 6.25rem;

    h1 {
        text-align: center;
        align-content: center;
        font-size: 2.8125rem;
    }

    i {
        font-size: 120%;
    }

    ul {

        li {

            align-content: center;

            a {
                display: inline-block;
                width: 7.5rem;
                height: 2.5rem;
                background-color: var(--amarillo-sol);
                border-radius: 0.75rem;
                text-align: center;
                align-content: center;
                margin: 0.625rem;
                color: var(--verde-bosque);
                transition: 0.5s;

                &:hover {
                    background-color: var(--verde-bosque);
                    color: var(--amarillo-sol);
                }

            }
        }
    }

}

.hamburguesa {
    display: none;

    div {
        width: 2.1875rem;
        height: 0.25rem;
        margin: 0.3125rem 0;
        background-color: var(--beige-claro);
        border-radius: 0.625rem;


    }
}

@media (max-width:992px) {
    nav {
        height: 12.5rem;
    }

    nav>div {
        flex-direction: column;

        ul {
            margin-top: 1.25rem;
        }
    }
}

@media (max-width:567px) {

    nav {
        height: 21.875rem;
        text-align: center;

        ul {
            flex-direction: column;
            margin-bottom: 1.25rem;

            li {
                a {
                    width: 18.75rem;
                }
            }
        }
    }


}