<nav>
    <ul class="d-flex list-unstyled justify-content-around">
        <li>
             
            <a href=""><i class="fa-solid fa-magnifying-glass"></i> BUSCAR</a>
        </li>
        <li>
            
            <a href=""><i class="fa-solid fa-book-open"></i> NORMAS</a>
        </li>
        <H1>CUÉNTAME TU VIAJE</H1>
        <li>
            
            <a href=""><i class="fa-solid fa-house-chimney"></i> HOME</a>
        </li>
        <li>
            
            <a href=""><i class="fa-solid fa-pen-nib"></i> POST</a>
        </li>
    </ul>
</nav>
