a {
    text-decoration: none;
}

nav {
    font-weight: bold;

    i {
        font-size: 120%;
    }

    ul {
        background-color: var(--verde-bosque);
        color: var(--beige-claro);

        h1 {
            align-content: center;
            font-size: 45px;
        }

        li a {
            display: inline-block;
            width: 120px;
            height: 75px;
            background-color: var(--amarillo-sol);
            border-radius: 50%;
            text-align: center;
            align-content: center;
            margin: 10px;
            color: var(--verde-bosque);
            transition: 1s;

            &:hover {
                background-color: var(--gris-roca);
                color: var(--amarillo-sol);
                border: 1px solid var(--amarillo-sol);
            }

        }
    }

}